<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pesan Makanan - Terminal Coffee</title>
</head>
<body>
    <h1>PESAN MAKANAN</h1>
    <hr>
    <div class='menu'>
        <form action="/order" method="post">
            <% for (var i = 0; i < menuList.length; i++) { %>
                <p><%= menuList[i].name %></p>
                <input type="text" name="item-<%= i %>" value="<%= menuList[i].name %>" style="visibility: hidden">
                <br>
                <p><%= menuList[i].description %></p>
                <br>
                <p>Rp.<%= menuList[i].price %></p>
                <br>
                <label>Jumlah</label>
                <p onclick="subsItem('amount-<%= i %>')">-</p>
                <input type="text" name="amount-<%= i %>" id="amount-<%= i %>" placeholder="0">
                <p onclick="addItem('amount-<%= i %>')">+</p>
                <hr>
            <% } %>
            <hr>
            <button type="submit">PESAN</button>
        </form>
    </div>
    <script>
        function addItem(itemName) {
            document.getElementById(itemName).value++;
        }
        function subsItem(itemName) {
            document.getElementById(itemName).value--;
        }
    </script>
</body>
</html>